# Build outputs and dependencies
node_modules
.svelte-kit
build

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# IDE files
.vscode
.idea

# Docker configuration files
Dockerfile
.dockerignore

# OS specific files
.DS_Store
Thumbs.db
