@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply flex flex-col min-h-screen;
    font-family: Arial, Helvetica, sans-serif;

    header {
      order: -1;
      @apply lg:flex text-center lg:text-left flex-row py-4 px-6;

      h1 {
        @apply text-xl grow mb-2;
      }

      nav {
        @apply flex items-center justify-center text-slate-500 text-sm;
          ul {
          @apply flex gap-x-6 gap-y-2 justify-center flex-wrap;;

          li:first-of-type {
            @apply hidden lg:block;
          }
        }
      }
    }

    footer {
      @apply flex flex-col gap-2 py-4 px-6 text-slate-500 text-sm;

      ul {
        @apply flex gap-x-6 gap-y-2 justify-center flex-wrap;
      }
    }

    main {
      @apply py-4 px-6 grow;
    }
  }

  article.home {
    @apply max-w-[65ch] mx-auto;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    a {
      @apply underline;
    }

    img {
      width: 14rem;
      @apply mx-auto lg:mr-4 mb-6 lg:float-left;
    }

    h1:first-of-type {
      @apply hidden;
    }

    p:not(:first-of-type) {
      @apply mb-4 text-pretty;
    }
  }

  .container {
    @apply max-w-[65ch] mx-auto;
  }

  h2.main-heading {
    @apply text-2xl pt-8 pb-6;
    @apply text-slate-500;
  }

  h1.main-heading {
    @apply text-3xl pt-6 text-center max-w-[35ch] mx-auto text-balance;
  }

  h1.content-heading {
    @apply text-5xl pt-6 text-center max-w-[35ch] mx-auto text-balance;
  }

  span.main-details {
    @apply text-slate-500 text-sm pt-2 pb-6 text-center block;

    a {
      @apply underline;
    }
  }

  a.main-next-link {
    @apply text-slate-500 my-6 underline block;
  }

  ul.post-list {
    @apply flex flex-col gap-6;

    h2 {
      @apply text-xl text-pretty;
    }

    span {
      @apply text-slate-500 text-sm;

      a {
        @apply underline;
      }
    }
  }

  article.content {
    @apply prose mx-auto;
  }

  img.website-image {
    @apply hidden;
  }
}
