@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Arial', 'Helvetica', sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

article.home {
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  a {
    @apply underline;
  }

  img {
    width: 14rem;
    @apply mx-auto lg:mr-4 mb-6 lg:float-left;
  }

  h1:first-of-type {
    @apply hidden;
  }

  p:not(:first-of-type) {
    @apply mb-4;
  }
}

.content {
  img {
    @apply mx-auto;
  }

  @apply prose-h1:font-normal prose-h2:font-normal prose-h3:font-normal prose-h4:font-normal;
}
